st.markdown("""
<style>
div.stButton > button {
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(10px);
    padding:20px;
    border-radius:20px;
    transition:0.3s;
    border: none;
}

div.stButton > button:hover {
    background: rgba(0,150,255,0.15);
}
</style>
""", unsafe_allow_html=True)